/* src/index.css */
/* styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body.dark {
  background-color: theme('colors.background.DEFAULT');
  color: theme('colors.text.DEFAULT');
}

a {
  color: theme('colors.primary.DEFAULT');
}

button.primary {
  background-color: theme('colors.primary.DEFAULT');
  color: theme('colors.background.DEFAULT');
}

button.secondary {
  background-color: theme('colors.secondary.DEFAULT');
  color: theme('colors.background.DEFAULT');
}

.header {
  background-color: theme('colors.background.DEFAULT');
  border-bottom: 1px solid theme('colors.secondary.DEFAULT');
}
